# Compiled class file & directory
*.class
out/**

# Log file
*.log

# BlueJ files
*.ctxt

# IntelliJ IDEA files & dirs
.idea/**

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Motherfucking DS Stores... Git outta here
*.DS_Store
*.plantuml
